/*common*/

.channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: solid 2px #fff;
    background-color: #c3c3c3;
    margin-right: .75rem;
}

/*header*/

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}

.logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F29F05;
}

.bulka-icon {
    margin-right: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.bulka-label {
    font-size: 1.5rem;
    font-family: Gabriola, ui-serif;
    cursor: pointer;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.search-input {
    width: 50%;
    padding: .5em 1.6em;
    border: 1px solid #F29F05;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    max-height: 2rem;
    background-color: #F5F2EF;
}

.search-btn {
    padding: 0.3rem 1.6rem 0.5rem;
    border: none;
    background-color: #F29F05;
    border-radius: 0 10px 10px 0;
    max-height: 2rem;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #d48c06;
}

.search-btn i {
    color: #fff;
    font-size: 22px;
}

.micro-btn {
    padding: 0.25rem 1.5rem 0.5rem;
    border: none;
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-height: 2rem;
    font-size: 22px;
    cursor: pointer;
}

.micro-btn:hover {
    color: #F29F05;
}

.menu-icons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}

.menu-icons i {
    font-size: 25px;
    color: #2B1D03;
}

.menu-icons i:hover {
    color: #F29F05;
}

.menu-options {
    display: none;
    padding: 0;
    position: fixed;
    border-radius: 10px;
    background-color: #3b2804;
    top: 2.5rem;
    right: 3rem;
    z-index: 2;
    list-style-type: none;
}

.menu-options a {
    font-size: 18px;
    text-decoration: none;
    color: #F5F2EF;
    font-weight: 500;
    margin-left: 1rem;
}

.menu-options li {
    cursor: pointer;
    padding: 0.8rem 3rem;
}

.menu-options li i {
    font-size: 18px;
    font-weight: 700;
    color: #F5F2EF;
}

.menu-options li i:hover {
    color: #F5F2EF;
}

.menu-options li:hover {
    background-color: #201602;
}

.menu-options li:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-options li:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-options li:last-child a, .menu-options li:last-child i {
    color: #cf2d2d;
}

.menu-toggle input:checked ~ .menu-options {
    display: block;
}

.secret-checkbox {
    position: fixed;
    width: 37px;
    height: 37px;
    top: 1rem;
    right: 0.3rem;
    cursor: pointer;
    opacity: 0;
}

/*aside*/

.side-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: calc(100vh - 60px);
    background-color: #fff;
}

.channels {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.channel-container {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px;
    width: 100%;
    cursor: pointer;
    overflow-x: hidden;
}

.channel-container:hover {
    background-color: #c2c2c2;
}

.channel-name {
    margin-left: -3rem;
    text-decoration: none;
    color: #2B1D03;
    font-size: 16px;
    font-weight: 500;
}

.channel-metadata {
    font-size: 14px;
    font-weight: 300;
}

.channel-live {
    outline: solid 2px #cf2d2d;
    animation: pulse 2s infinite;
}


.aside-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background-color: #2B1D03;
}

.aside-footer-title {
    font-size: 24px;
    font-weight: 300;
    color: #F5F2EF;
}

.aside-footer-title::selection {
    color: #2B1D03;
    background: #F29F05;
}

.socials {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
}

.socials i {
    font-size: 32px;
    color: #F5F2EF;
}

.socials i:hover {
    color: #F29F05;
}
/*content*/

.main-content {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.categories {
    position: fixed;
    background-color: #fff;
    opacity: 0.95;
    width: 100%;
    padding: 0 3rem;
    border-top: 1px solid #F29F05;
    border-bottom: 1px solid #F29F05;
    z-index: 1;
}

.category {
    flex: 0 0 auto;
    margin-right: 1rem;
    white-space: nowrap;
    border: 1px solid #F29F05;
    border-radius: 10px;
    background-color: #F5F2EF;
    padding: .3rem 1rem;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 150ms;
    color: #2B1D03;
}

.category:hover {
    background-color: #fcedd2;
}

.category.active {
    background-color: #F29F05;
    color: #ffffff;
    border-color: #EEE;
}

.category:last-child {
    margin-right: 0;
}

.category-section {
    height: 60px;
    width: calc(100vw - 300px - 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.category-section::-webkit-scrollbar {
    display: none;
}

.content-container {
    padding-top: 70px;
}

.thumbnail {
    position: relative;
    display: flex;
    background-color: #000;
    border-radius: .3em;
}

.thumbnail i {
    position: relative;
    color: #fff;
    font-size: 3rem;
}

.thumbnail:hover .play-hover {
    opacity: 1;
}

.thumbnail:hover .thumbnail-image {
    opacity: 0.5;
}

.thumbnail:before {
    content: attr(data);
    position: absolute;
    background-color: rgba(43, 29, 3, 0.8);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
    border-radius: .3em;
}

.live::after {
    content: 'Live';
    position: absolute;
    background-color: #cf2d2d;
    color: #fff;
    left: 10px;
    top: 10px;
    padding: .1em .5em;
    border-radius: .3em;
    font-size: .9em;
    animation: pulse-live 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.8s infinite;
}

.dog-content::after {
    content: 'Warning! Dog content detected';
    position: absolute;
    background-color: #cf2d2d;
    color: #fff;
    left: 30px;
    top: 10px;
    padding: .1em .5em;
    border-radius: .3em;
    font-size: .9em;
    animation: pulse-live 1.5s infinite;
}

.play-hover {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fcedd2;
}

.channel-icon {
    margin-right: .75rem;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 3rem;
    border-top: 4px solid #CCC;
}

.video-section:first-child {
    border-top: none;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .4rem;
    text-decoration: none;
    color: #2B1D03;
}

.video-channel-name {
    font-weight: 500;
    margin-bottom: .1rem;
    text-decoration: none;
    transition: 150ms;
}

.video-channel-name:hover {
    color: #111;
}

.video-metadata {
    font-weight: 300;
}

.video-channel-name, .video-metadata {
    font-size: 14px;
    color: #555;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    font-size: 24px;
    font-weight: 500;
}

.video-section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.videos {
    padding-top: 60px;
    background-color: #F5F2EF;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

/*footer*/

.footer-info {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2B1D03;
    font-size: 16px;
    font-weight: 300;
}

.footer-info-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.footer-info-link:hover {
    color: #cf2d2d;
}

.footer-info-link i {
    color: #cf2d2d;
    font-size: 24px;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #fad797;
    opacity: 0.5;
    border-radius: 8px;
}

/*animation*/

@keyframes pulse {
    50% {
        outline-width: 6px;
    }
}

@keyframes pulse-live {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}